In [2]:
import numpy as n
import pandas as p

In [3]:
a=p.DataFrame({"a":[1,2,3],"b":[4,5,6],"c":[7,8,9]})

In [4]:
a

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [6]:
a=p.DataFrame({"a":[1,2,3],"b":[4,5,6],"c":[7,8,9]},index=[2,6,9])

In [7]:
a

   a  b  c
2  1  4  7
6  2  5  8
9  3  6  9

In [8]:
a.index

Index([2, 6, 9], dtype='int64')

In [9]:
a.sort_index(ascending=False)

   a  b  c
9  3  6  9
6  2  5  8
2  1  4  7

In [11]:
a=p.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=[2,6,9],columns=['a','b','c'])

In [12]:
a

   a  b  c
2  1  2  3
6  4  5  6
9  7  8  9

In [13]:
a['a'].min(),a['a'].max(),a['a'].mean()

(np.int64(1), np.int64(7), np.float64(4.0))

In [14]:
a[a['c']==11]

Empty DataFrame
Columns: [a, b, c]
Index: []

In [15]:
a[a['c']==11]['b']

Series([], Name: b, dtype: int64)

In [20]:
b=n.arange(1,10).reshape(3,3)
a=p.DataFrame(b,columns=['c1','c2','c3'],index=[1,2,3])
a

   c1  c2  c3
1   1   2   3
2   4   5   6
3   7   8   9

In [31]:
c=p.DataFrame([[8,8,8,6],[9,5,5,6],[7,5,6,9],[8,9,6,5],[9,7,5,7],[7,5,9,8],[7,8,5,6],[8,5,8,8],[9,8,6,6]],index=['236b101','236B102','236B103','236B104','236B105','236B106','236B107','236B108','236B109'],columns=['ML','OS','DS','JAVA'])
c

         ML  OS  DS  JAVA
236b101   8   8   8     6
236B102   9   5   5     6
236B103   7   5   6     9
236B104   8   9   6     5
236B105   9   7   5     7
236B106   7   5   9     8
236B107   7   8   5     6
236B108   8   5   8     8
236B109   9   8   6     6

In [38]:
c['JAVA'].max()

np.int64(9)

In [34]:
c['DS'].max()

np.int64(9)

In [35]:
c['ML'].max()

np.int64(9)

In [40]:
c[c['DS']==9]['ML']

236B106    7
Name: ML, dtype: int64